## mako

<%page expression_filter="h"/>

<%namespace name='static' file='../static_content.html'/>

<%!
from datetime import date

from django.utils.translation import ugettext as _

from openedx.core.djangolib.markup import HTML, Text
%>

<%
course_sections = blocks.get('children')
%>
<main role="main" class="course-outline" id="main" tabindex="-1">
    % if course_sections is not None:
        <button class="btn btn-primary"
                id="expand-collapse-outline-all-button"
                aria-expanded="false"
                aria-controls="course-outline-block-tree"
                >
          <span class="expand-collapse-outline-all-extra-padding" id="expand-collapse-outline-all-span">${_("Expand All")}</span>
        </button>
        <ol class="block-tree accordion"
            id="course-outline-block-tree"
            aria-labelledby="expand-collapse-outline-all-button">
        % for section in course_sections:
            <%
            section_is_auto_opened = section.get('resume_block') is True
            %>
                <li class="outline-item section">
                    <button class="section-name accordion-trigger"
                            aria-expanded="${ 'true' if section_is_auto_opened else 'false' }"
                            aria-controls="${ section['id'] }_contents"
                            id="${ section['id'] }">
                        <span class="fa fa-chevron-right ${ 'fa-rotate-90' if section_is_auto_opened else '' }" aria-hidden="true"></span>
                        <h3 class="section-title">${ section['display_name'] }</h3>
            % if section.get('complete'):
                            <span class="complete-checkmark fa fa-check"></span>
            % endif
                    </button>
                    <ol class="outline-item accordion-panel ${ '' if section_is_auto_opened else 'is-hidden' }"
                        id="${ section['id'] }_contents"
                        aria-labelledby="${ section['id'] }">
            % for subsection in section.get('children', []):
                <%
                gated_subsection = subsection['id'] in gated_content
                completed_prereqs = gated_content[subsection['id']]['completed_prereqs'] if gated_subsection else False
                subsection_is_auto_opened = subsection.get('resume_block') is True
                %>
                      <li class="subsection accordion ${ 'current' if subsection.get('resume_block') else '' }">
                % if gated_subsection and not completed_prereqs:
                                <a href="${ subsection['lms_web_url'] }">
                                    <button class="subsection-text prerequisite-button"
                                            id="${ subsection['id'] }">
                                    <span class="menu-icon icon fa fa-lock"
                                            aria-hidden="true">
                                    </span>
                                    <h4 class="subsection-title">
                                        ${ subsection['display_name'] }
                                    </h4>
                                    <div class="details prerequisite">
                                        ${ _("Prerequisite: ") }
                                            <%
                                                prerequisite_id = gated_content[subsection['id']]['prerequisite']
                                                prerequisite_name = xblock_display_names.get(prerequisite_id)
                                            %>
                                            ${ prerequisite_name }
                                    </div>
                % else:
                                    <button class="subsection-text accordion-trigger"
                                            id="${ subsection['id'] }"
                                            aria-expanded="${ 'true' if subsection_is_auto_opened else 'false' }"
                                            aria-controls="${ subsection['id'] }_contents">
                                        <span class="fa fa-chevron-right ${ 'fa-rotate-90' if subsection_is_auto_opened else '' }"
                                              aria-hidden="true"></span>
                                        <h4 class="subsection-title">
                                            ${ subsection['display_name'] }
                                        </h4>
                    % if subsection.get('complete'):
                                        <span class="complete-checkmark fa fa-check"></span>
                    % endif
                % endif
                                        <div class="details">

                ## There are behavior differences between rendering of subsections which have
                ## exams (timed, graded, etc) and those that do not.
                ##
                ## Exam subsections expose exam status message field as well as a status icon
                <%
                if subsection.get('due') is None:
                    # examples: Homework, Lab, etc.
                    data_string = subsection.get('format')
                else:
                    if 'special_exam_info' in subsection:
                        data_string = _('due {date}')
                    else:
                        data_string = _("{subsection_format} due {{date}}").format(subsection_format=subsection.get('format'))
                %>
                % if subsection.get('format') or 'special_exam_info' in subsection:
                                            <span class="subtitle">
                    % if 'special_exam' in subsection:
                                                    ## Display the exam status icon and status message
                                                    <span
                                                        class="menu-icon icon fa ${subsection['special_exam_info'].get('suggested_icon', 'fa-pencil-square-o')} ${subsection['special_exam_info'].get('status', 'eligible')}"
                                                        aria-hidden="true"
                                                    ></span>
                                                    <span class="subtitle-name">
                                                        ${subsection['special_exam_info'].get('short_description', '')}
                                                    </span>

                        ## completed exam statuses should not show the due date
                        ## since the exam has already been submitted by the user
                        % if not subsection['special_exam_info'].get('in_completed_state', False):
                                                        <span
                                                            class="localized-datetime subtitle-name"
                                                            data-datetime="${subsection.get('due')}"
                                                            data-string="${data_string}"
                                                            data-timezone="${user_timezone}"
                                                            data-language="${user_language}"
                                                        ></span>
                        % endif
                    % else:
                                                    ## non-graded section, we just show the exam format and the due date
                                                    ## this is the standard case in edx-platform
                                                    <span
                                                        class="localized-datetime subtitle-name"
                                                        data-datetime="${subsection.get('due')}"
                                                        data-string="${data_string}"
                                                        data-timezone="${user_timezone}"
                                                        data-language="${user_language}"
                                                    ></span>

                        % if subsection.get('graded'):
                                                        <span class="sr">&nbsp;${_("This content is graded")}</span>
                        % endif
                    % endif
                                            </span>
                % endif
                                        </div> <!-- /details -->
                                    </button> <!-- /subsection-text -->
                % if gated_subsection and not completed_prereqs:
                                </a>
                % endif
                % if not gated_subsection or (gated_subsection and completed_prereqs):
                                <ol class="outline-item accordion-panel ${ '' if subsection_is_auto_opened else 'is-hidden' }"
                                    id="${ subsection['id'] }_contents"
                                    aria-labelledby="${ subsection['id'] }"
                                >
                    % for vertical in subsection.get('children', []):
                                    <li class="vertical outline-item focusable">
                                        <a class="outline-item focusable"
                                            % if enable_links:
                                                href="${ vertical['lms_web_url'] }"
                                            % else:
                                                aria-disabled="true"
                                            % endif
                                            id="${ vertical['id'] }">
                                            <div class="vertical-details">
                                              <div class="vertical-title">
                                                ${ vertical['display_name'] }
                                              </div>
                                            </div>
                        % if vertical.get('complete'):
                                                <span class="complete-checkmark fa fa-check"></span>
                        % endif
                                        </a>
                                    </li>
                    % endfor
                                </ol>
                % endif
                            </li>
            % endfor
                    </ol>
                </li>
        % endfor
        </ol>
    % endif
</main>

<%static:require_module_async module_name="js/dateutil_factory" class_name="DateUtilFactory">
    DateUtilFactory.transform('.localized-datetime');
</%static:require_module_async>

<%static:webpack entry="CourseOutline">
    new CourseOutline();
</%static:webpack>